<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f12d5ec281.js" crossorigin="anonymous"></script>
  <title>Amapola Bags</title>
</head>

<body class="home__body">
  <nav class="home__nav">
    <!-- <marquee>12 cuotas sin interés | Envios gratis a todo el país</marquee> -->
    <div class="home__nav-iconos-titulo">
      <button class="burger-menu"><i class="fa-solid fa-bars"></i></button>
      <ul class="home__nav-iconos" type="none">
        <li><a><i class="fa-solid fa-location-dot"></i></a></li>
        <li><a><i class="fa-solid fa-magnifying-glass"></i></a></li>
        <li><a><i class="fa-regular fa-user"></i></a></li>
        <li><a><i class="fa-regular fa-heart"></i></a></li>
        <li><a><i class="fa-solid fa-bag-shopping"></i></a></li>
      </ul>
      <p>amapola bags</p>
    </div>
    <div class="home__nav-vistas">
      <ul type="none">
        <li><a>home</a></li>
        <li><a>carteras</a></li>
        <li><a>riñoneras</a></li>
        <li><a>mochilas</a></li>
      </ul>
    </div>
  </nav>
  <main class="home__main">
    <section class="home__main__section-banner">
      <img src="/img/banner-mobile.jpg">
      <button class="home__main__section-banner-botonNew">
        NEW COLECTION
      </button>
      <button class="home__main__section-banner-botonShop">
        SHOP NOW
      </button>
    </section>
    <section class="home__main__section-carrusel">
      <img src="/img/cartera-mobile.jpg">
      <img src="/img/rino-mobile.jpg">
    </section>
    <section class="home__main__section-community">
      <a href="#sdadsd">
        <p><i class="fa-solid fa-hashtag"></i>MyAmapola<i class="fa-solid fa-heart"></i></p>
        <p>comunnity</p>
      </a>
    </section>
    <section class="home__main__section-fotos">
      <div class="home__main__section-fotos-titulo-book">
        <a>@amapolabags</a>
        <div>
          <p>Share yours!</p>
          <a>#MyAmapola</a>
        </div>
      </div>
      <div class="home__main__section-fotos-book">
        <img src="/img/1-foto-book.jpg">
        <img src="/img/2-foto-book.jpg">
        <img src="/img/3-foto-book.jpg">
        <img src="/img/4-foto-book.jpg">
        <img src="/img/5-foto-book.jpg">
        <img src="/img/6-foto-book.jpg">
      </div>
    </section>
    <section class="home__main__section-texto">
      <p>Compartí tu Amapola favorita con el hastag <b>#MyAmapola</b> y arrobanos <b>@amapolabags</b> para ser
        seleccionadx y aparecer
        en nuestro website y redes sociales!<br>I want to be part!</p>
    </section>
  </main>
  <footer class="home__footer">
    <div class="home__footer-heart"><i class="fa-regular fa-heart"></i></div>
    <div class="home__footer-newsletter">
      <form action="" method="get">
        <p>
          <label for="email">SUSCRIBITE A NUESTRO NEWSLETTER</label>
          <input type="email" placeholder="ESCRIBE TU MAIL AQUÍ" name="email">
          <button type="submit">SUSCRIBIRSE</button>
        </p>
      </form>
    </div>
    <div class="home__footer-iconos">
      <ul>
        <li><a target="_blank" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a target="_blank" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a target="_blank" href="https://www.twitter.com/"></a><i class="fa-brands fa-twitter"></i></i></a></li>
        <li><a target="_blank" href="https://www.tiktok.com/"><i class="fa-brands fa-tiktok"></i></a></li>
      </ul>
    </div>
    <div class="home__footer-derechos">© 2021 AmapolaBags.com.ar | Todos los derechos revervados</div>
  </footer>
</body>

</html>