<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f12d5ec281.js" crossorigin="anonymous"></script>
  <title>Amapola Bags</title>
</head>

<body class="body__home">
  <nav>
    <marquee>12 cuotas sin interés | Envios gratis a todo el país</marquee>
    <ul>
      <li><a><i class="fa-solid fa-location-dot"></i></a></li>
      <li><a><i class="fa-solid fa-magnifying-glass"></i></a></li>
      <li><a><i class="fa-regular fa-user"></i></a></li>
      <li><a><i class="fa-regular fa-heart"></i></a></li>
      <li><a><i class="fa-solid fa-bag-shopping"></i></a></li>
    </ul>
    <ul>
      <li><a>home</a></li>
      <li><a>carteras</a></li>
      <li><a>riñoneras</a></li>
      <li><a>mochilas</a></li>
    </ul>
  </nav>
  <main>
    <section>

    </section>
    <section>

    </section>
    <section>

    </section>
  </main>
  <footer>

  </footer>
</body>

</html>