<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head") %> 

<body>
  
  <%- include("./partials/header") %> 

    <main>
        <section class="main__section__detalles">
            <div class="div__imgCartera">
                <img src="/img/Cartera-Ventimiglia.png" alt="">
            </div>
            <div class="main__section__detalles--esp">
                <h2>Marca: Ventimiglia</h2>
                <h2>Talle: L</h2>
                <h2>Bolsillos: 5</h2>
                <h2>Colores:</h2>
                <img src="/img/Amarillo.png" alt="">
                <img src="/img/Beige rosado.jpeg" alt="">
                <div class="main__section__colores">
                    <hr>
                    <h1>PRECIO: 809.999</h1>
                    <button>
                        <p>AGREGAR AL CARRITO</p>
                    </button>
                </div>
            </div>
        </section>
        <section class="main__section__masProductos">
            <h1>MAS PRODUCTOS</h1>
            <img src="/img/Cartera-Martina.png" alt="">
            <img src="/img/Cartera-Brenda.png" alt="">
            <img src="/img/Cartera-Alma.png" alt="">
            <img class="image__none" src="/img/Cartera-Cecilia2.png" alt="">
        </section>
    </main>
    
    <%- include("./partials/footer") %>

</body>

</html>