<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/f12d5ec281.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <title>amapola bags | producto detalle</title>
</head>

<body>
    <nav class="home__nav__container">
        <div class="home__nav__container-marquee">
          <marquee>ENVIOS GRATIS A TODO EL PAIS | 12 CUOTAS SIN INTERÉS</marquee>
        </div>
        <div class="home__nav__containter-iconos">
          <ul class="home__nav-iconos">
            <li id="burger-menu"><button><i class="fa-solid fa-bars"></i></button></li>
            <li id="title">
              <h1>amapola bags</h1>
            </li>
            <li id="location"><button><i class="fa-solid fa-location-dot"></i></button></li>
            <li id="search"><button><i class="fa-solid fa-magnifying-glass"></i></button></li>
            <li id="user"><button><i class="fa-regular fa-user"></i></button></li>
            <li id="heart"><button><i class="fa-regular fa-heart"></i></button></li>
            <li id="bag"><button><i class="fa-solid fa-bag-shopping"></i></button></li>
          </ul>
        </div>
        <div class="home__nav__container-menu-buscador">
          <ul>
            <li class="home__nav__menu-buscador-opciones"><a href="/">home</a></li>
            <li class="home__nav__menu-buscador-opciones"><a href="/productGeneral">productos</a></li>
            <li class="home__nav__menu-buscador-opciones"><a href="#">carteras</a></li>
            <li class="home__nav__menu-buscador-opciones"><a href="#">riñoneras</a></li>
            <li class="home__nav__menu-buscador-opciones"><a href="#">mochilas</a></li>
            <li class="home__nav__menu-buscador-buscador">
              <label><i class="fa-solid fa-magnifying-glass"></i></label>
              <input type="search" placeholder="¿Que estás buscando?">
            </li>
          </ul>
        </div>
      </nav>
    <main>
        <section class="main__section__detalles">
            <div class="div__imgCartera">
                <img src="/img/Cartera-Ventimiglia.png" alt="">
            </div>
            <div class="main__section__detalles--esp">
                <h2>Marca: Ventimiglia</h2>
                <h2>Talle: L</h2>
                <h2>Bolsillos: 5</h2>
                <h2>Colores:</h2>
                <img src="/img/Amarillo.png" alt="">
                <img src="/img/Beige rosado.jpeg" alt="">
                <div class="main__section__colores">
                    <hr>
                    <h1>PRECIO: 809.999</h1>
                    <button>
                        <p>AGREGAR AL CARRITO</p>
                    </button>
                </div>
            </div>
        </section>
        <section class="main__section__masProductos">
            <h1>MAS PRODUCTOS</h1>
            <img src="/img/Cartera-Martina.png" alt="">
            <img src="/img/Cartera-Brenda.png" alt="">
            <img src="/img/Cartera-Alma.png" alt="">
            <img class="image__none" src="/img/Cartera-Cecilia2.png" alt="">
        </section>
    </main>
    <footer class="home__footer__container">
        <div class="home__footer-heart"><i class="fa-regular fa-heart"></i></div>
        <div class="home__footer-newsletter">
          <form action="" method="get">
            <p>
              <label for="email">SUSCRIBITE A NUESTRO NEWSLETTER</label>
              <input type="email" placeholder="ESCRIBE TU MAIL AQUÍ" name="email">
              <button type="submit">SUSCRIBIRSE</button>
            </p>
          </form>
        </div>
        <div class="home__footer__container-iconos">
          <ul>
            <li class="home__footer-iconos"><a target="_blank" href="https://www.instagram.com/"><i
                  class="fa-brands fa-instagram"></i></a></li>
            <li class="home__footer-iconos"><a target="_blank" href="https://www.facebook.com/"><i
                  class="fa-brands fa-facebook"></i></a></li>
            <li class="home__footer-iconos"><a target="_blank" href="https://www.twitter.com/"></a><i
                class="fa-brands fa-twitter"></i></i></a></li>
            <li class="home__footer-iconos"><a target="_blank" href="https://www.tiktok.com/"><i
                  class="fa-brands fa-tiktok"></i></a></li>
          </ul>
        </div>
        <div class="home__footer-derechos">© 2021 AmapolaBags.com.ar | Todos los derechos revervados</div>
      </footer>
</body>

</html>