<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f12d5ec281.js" crossorigin="anonymous"></script>
  <title>Productos</title>
</head>

<body class="body__home">
  <nav>

  </nav>
  <!-- INICIO MAIN -->
  <main class="main__carteras">
    <div class="titulos__products">
      <h1>CARTERAS</h1>
    </div>
    <section class="main__section__products">
      <article class="main__section__products__productCartera">
        <img class="productCartera__img" src="/img/Cartera-Martina.png" alt="">
        <h4 class="productCartera__nombre">Martina</h4>
        <h3 class="productCartera__precio">$5990</h3>
        <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
        <div class="productCartera__imgRadio">
          <img src="/img/Cartera-Martina.png" alt="">
        </div>

      </article>
      <article class="main__section__products__productCartera">
        <img class="productCartera__img" src="/img/Cartera-Brenda.png" alt="">
        <h4 class="productCartera__nombre">Brenda</h4>
        <h3 class="productCartera__precio">$10900</h3>
        <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
        <div class="productCartera__imgRadio">
          <img src="/img/Cartera-Brenda.png" alt="">
        </div>

      </article>
      <article class="main__section__products__productCartera">
        <img class="productCartera__img" src="/img/Cartera-Volterra.png" alt="">
        <h4 class="productCartera__nombre">Volterra</h4>
        <h3 class="productCartera__precio">$8550</h3>
        <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
        <div class="productCartera__imgRadio">
          <img src="/img/Cartera-Volterra.png" alt="">
        </div>
      </article>  
      <article class="main__section__products__productCartera">
          <img class="productCartera__img" src="/img/Cartera-Alma.png" alt="">
          <h4 class="productCartera__nombre">Alma</h4>
          <h3 class="productCartera__precio">$10900</h3>
          <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
          <div class="productCartera__imgRadio">
            <img src="/img/Cartera-Alma.png" alt="">
            <img src="/img/Cartera-Alma2.png" alt="">
          </div>
      </article>
      <article class="main__section__products__productCartera">
        <img class="productCartera__img" src="/img/Cartera-Cecilia.png" alt="">
        <h4 class="productCartera__nombre">Cecilia</h4>
        <h3 class="productCartera__precio">$7290</h3>
        <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
        <div class="productCartera__imgRadio">
          <img src="/img/Cartera-Cecilia.png" alt="">
          <img src="/img/Cartera-Cecilia2.png" alt="">
        </div>
    </article>
    <article class="main__section__products__productCartera">
      <img class="productCartera__img" src="/img/Cartera-Ventimiglia.png" alt="">
      <h4 class="productCartera__nombre">Ventimiglia</h4>
      <h3 class="productCartera__precio">$9490</h3>
      <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
      <div class="productCartera__imgRadio">
        <img src="/img/Cartera-Ventimiglia.png" alt="">
      </div>
  </article>

    </section>
      
  </main>
  <!-- FIN MAIN -->
  <footer>

  </footer>
</body>

</html>