<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f12d5ec281.js" crossorigin="anonymous"></script>
  <title>CARRITO DE COMPRAS</title>
</head>

<body class="body__home">
    <!-- INICIO DE NAV -->
  <nav>
   
  </nav>
    <!-- FIN DE NAV  -->
    <!-- INICIO DE MAIN CARRITO  -->
  <main class="main__carrito">
    <h1 class="main__carrito__titulo">CARRITO DE COMPRAS</h1>
    <h2 class="main__carrito__compra">Mi compra:</h2>

    <section class="main__carrito__section__products">
        <article class="main__carrito__section__products__article__compra">
            <h4 class="main__carrito__section__products__article__compra__nombre">Cartera Cecilia</h4>
            <p class="main__carrito__section__products__article__compra__eliminar">X</p>
        </article>
        <article class="main__carrito__section__products__article__product">
            
            <img src="/img/Cartera-Cecilia.png" alt="">
            <p>1</p>
            <h4>$7290</h4>

        </article>
    </section>

  </main>
    <!-- FIN DE MAIN CARRITO -->
    <!-- INICIO DE FOOTER -->
  <footer>

  </footer>
    <!-- FIN DE FOOTER -->
</body>

</html>