<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head") %> 

<body class="body__home">
  
  <%- include("./partials/header") %>

  <!-- INICIO MAIN -->
  <main class="main__carteras">
    <div class="titulos__products">
      <h1>CARTERAS</h1>
    </div>
    <section class="main__section__products">
      <article class="main__section__products__productCartera">
        <img class="productCartera__img" src="/img/Cartera-Martina.png" alt="">
        <h4 class="productCartera__nombre">CAFA</h4>
        <h3 class="productCartera__precio">$23.500</h3>
        <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
        <div class="productCartera__imgRadio">
          <img src="/img/Cartera-piel.jpg" alt="">
        </div>

      </article>
      <article class="main__section__products__productCartera">
        <img class="productCartera__img" src="/img/Cartera-Brenda.png" alt="">
        <h4 class="productCartera__nombre">Brenda</h4>
        <h3 class="productCartera__precio">$10.900</h3>
        <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
        <div class="productCartera__imgRadio">
          <img src="/img/Cartera-piel.jpg" alt="">
        </div>

      </article>
      <article class="main__section__products__productCartera">
        <img class="productCartera__img" src="/img/Cartera-Volterra.png" alt="">
        <h4 class="productCartera__nombre">Volterra</h4>
        <h3 class="productCartera__precio">$8.550</h3>
        <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
        <div class="productCartera__imgRadio">
          <img src="/img/Cartera-rosita.jpg" alt="">
        </div>
      </article>  
      <article class="main__section__products__productCartera">
          <img class="productCartera__img" src="/img/Cartera-Alma.png" alt="">
          <h4 class="productCartera__nombre">Alma</h4>
          <h3 class="productCartera__precio">$10.900</h3>
          <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
          <div class="productCartera__imgRadio">
            <img src="/img/Cartera-piel.jpg" alt="">
            <img src="/img/Cartera-megra.jpg" alt="">
          </div>
      </article>
      <article class="main__section__products__productCartera">
        <img class="productCartera__img" src="/img/Cartera-Cecilia.png" alt="">
        <h4 class="productCartera__nombre">Cecilia</h4>
        <h3 class="productCartera__precio">$7.290</h3>
        <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
        <div class="productCartera__imgRadio">
          <img src="/img/Cartera-marron.jpg" alt="">
          <img src="/img/Cartera-marronClaro.jpg" alt="">
        </div>
    </article>
    <article class="main__section__products__productCartera">
      <img class="productCartera__img" src="/img/Cartera-Ventimiglia.png" alt="">
      <h4 class="productCartera__nombre">Ventimiglia</h4>
      <h3 class="productCartera__precio">$9.490</h3>
      <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
      <div class="productCartera__imgRadio">
        <img src="/img/Cartera-piel.jpg" alt="">
      </div>
  </article>

    </section>
      
  </main>
  <!-- FIN MAIN -->
  
  <%- include("./partials/footer") %> 

</body>

</html>

<!-- 
  
 -->