<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head") %> 

<body>
  
  <%- include("./partials/header") %> 

    <main class="body__main__login">
        <section class="body__main__login__section1">
            <article class="body__main__login__section1__article1">
                <h3>Editar producto</h3>
               
            </article>
            <article class="body__main__login__section1__article2">
                <form class="body__main__login__section1__article2__form" action="" method="post">
                   
                    <div>
                        <label for="email">Modelo</label>
                        <input type="text" name="tex" id="tex" required>
                    </div>
                    <div>
                        <label for="category">Cartegoria</label> <br>
                        <select  name="category" id="category">
                            <option value="cartera">Cartera</option>
                            <option value="riñonera">Riñonera</option>
                            <option value="mochila">Mochila</option>
                        </select>
                    </div>
                    <div>
                        <label for="img">Imagen</label>
                        <input type="file" name="img" id="file" required>
                    </div>
                    <div>
                        <label for="img">Color</label>
                        <input type="file" name="img" id="file" required>
                    </div>
                    <div>
                        <label for="">descripcion</label> <br>
                        <textarea name="descripcion" id="descripcion" cols="30" rows="6"></textarea>
                    </div>
                    <div>
                        <label for="password">Precio</label>
                        <input type="password" name="password" id="password" required>
                        <a href=""></a>
                    </div>                      
                    <button class="body__main__login__section1__article2__form--button" type="submit">Actulizar</button>
                    <button class="body__main__login__section1__article2__form--button" type="reset">Borrar</button>
                </form>           
            </article>
        </section>

    </main>
    
    <%- include("./partials/footer") %>

</body>