<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head") %> 

<body>
  
  <%- include("./partials/header") %> 

    <main class="body__main__login">
        <section class="body__main__login__section1">
            <article class="body__main__login__section1__article1">
                <h3>Nuevo producto</h3>
               
            </article>
            <article class="body__main__login__section1__article2">
                <form class="body__main__login__section1__article2__form" action="" method="post">
                    <div>
                        <label for="text">Nombre</label>
                        <input type="text" name="text" id="text" required>
                    </div>
                    <div>
                        <label for="text">Modelo</label>
                        <input type="text" name="text" id="text" required>
                    </div>
                    <div>
                        <label for="img">Imagen</label>
                        <input type="file" name="img" id="file" required>
                    </div>
                    <div>
                        <label for="img">Color</label>
                        <input type="file" name="img" id="file" required>
                    </div>
                    <div>
                        <label for="">descripcion</label> <br>
                        <textarea name="descripcion" id="descripcion" cols="30" rows="6"></textarea>
                    </div>
                    <div>
                        <label for="text">Precio</label>
                        <input type="text" name="text" id="text" required>
                        <a href=""></a>
                    </div>

                    <button class="body__main__login__section1__article2__form--button" type="submit">Enviar</button>
                </form>
            
            </article>
        </section>

    </main>
    
    <%- include("./partials/footer") %> 

</body>