<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f12d5ec281.js" crossorigin="anonymous"></script>
  <title>Productos</title>
</head>

<body class="body__home">
  <nav class="home__nav__container">
    <div class="home__nav__container-marquee">
      <marquee>ENVIOS GRATIS A TODO EL PAIS | 12 CUOTAS SIN INTERÉS</marquee>
    </div>
    <div class="home__nav__containter-iconos">
      <ul class="home__nav-iconos">
        <li id="burger-menu"><button><i class="fa-solid fa-bars"></i></button></li>
        <li id="title">
          <h1>amapola bags</h1>
        </li>
        <li id="location"><button><i class="fa-solid fa-location-dot"></i></button></li>
        <li id="search"><button><i class="fa-solid fa-magnifying-glass"></i></button></li>
        <li id="user"><button><i class="fa-regular fa-user"></i></button></li>
        <li id="heart"><button><i class="fa-regular fa-heart"></i></button></li>
        <li id="bag"><button><i class="fa-solid fa-bag-shopping"></i></button></li>
      </ul>
    </div>
    <div class="home__nav__container-menu-buscador">
      <ul>
        <li class="home__nav__menu-buscador-opciones"><a href="/">home</a></li>
        <li class="home__nav__menu-buscador-opciones"><a href="/productGeneral">productos</a></li>
        <li class="home__nav__menu-buscador-opciones"><a href="#">carteras</a></li>
        <li class="home__nav__menu-buscador-opciones"><a href="#">riñoneras</a></li>
        <li class="home__nav__menu-buscador-opciones"><a href="#">mochilas</a></li>
        <li class="home__nav__menu-buscador-buscador">
          <label><i class="fa-solid fa-magnifying-glass"></i></label>
          <input type="search" placeholder="¿Que estás buscando?">
        </li>
      </ul>
    </div>
  </nav>
  <!-- INICIO MAIN -->
  <main class="main__carteras">
    <div class="titulos__products">
      <h1>CARTERAS</h1>
    </div>
    <section class="main__section__products">
      <article class="main__section__products__productCartera">
        <img class="productCartera__img" src="/img/Cartera-Martina.png" alt="">
        <h4 class="productCartera__nombre">CAFA</h4>
        <h3 class="productCartera__precio">$23.500</h3>
        <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
        <div class="productCartera__imgRadio">
          <img src="/img/Cartera-Martina.png" alt="">
        </div>

      </article>
      <article class="main__section__products__productCartera">
        <img class="productCartera__img" src="/img/Cartera-Brenda.png" alt="">
        <h4 class="productCartera__nombre">Brenda</h4>
        <h3 class="productCartera__precio">$10.900</h3>
        <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
        <div class="productCartera__imgRadio">
          <img src="/img/Cartera-Brenda.png" alt="">
        </div>

      </article>
      <article class="main__section__products__productCartera">
        <img class="productCartera__img" src="/img/Cartera-Volterra.png" alt="">
        <h4 class="productCartera__nombre">Volterra</h4>
        <h3 class="productCartera__precio">$8.550</h3>
        <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
        <div class="productCartera__imgRadio">
          <img src="/img/Cartera-Volterra.png" alt="">
        </div>
      </article>  
      <article class="main__section__products__productCartera">
          <img class="productCartera__img" src="/img/Cartera-Alma.png" alt="">
          <h4 class="productCartera__nombre">Alma</h4>
          <h3 class="productCartera__precio">$10.900</h3>
          <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
          <div class="productCartera__imgRadio">
            <img src="/img/Cartera-Alma.png" alt="">
            <img src="/img/Cartera-Alma2.png" alt="">
          </div>
      </article>
      <article class="main__section__products__productCartera">
        <img class="productCartera__img" src="/img/Cartera-Cecilia.png" alt="">
        <h4 class="productCartera__nombre">Cecilia</h4>
        <h3 class="productCartera__precio">$7.290</h3>
        <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
        <div class="productCartera__imgRadio">
          <img src="/img/Cartera-Cecilia.png" alt="">
          <img src="/img/Cartera-Cecilia2.png" alt="">
        </div>
    </article>
    <article class="main__section__products__productCartera">
      <img class="productCartera__img" src="/img/Cartera-Ventimiglia.png" alt="">
      <h4 class="productCartera__nombre">Ventimiglia</h4>
      <h3 class="productCartera__precio">$9.490</h3>
      <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
      <div class="productCartera__imgRadio">
        <img src="/img/Cartera-Ventimiglia.png" alt="">
      </div>
  </article>

    </section>
      
  </main>
  <!-- FIN MAIN -->
  <footer class="home__footer__container">
    <div class="home__footer-heart"><i class="fa-regular fa-heart"></i></div>
    <div class="home__footer-newsletter">
      <form action="" method="get">
        <p>
          <label for="email">SUSCRIBITE A NUESTRO NEWSLETTER</label>
          <input type="email" placeholder="ESCRIBE TU MAIL AQUÍ" name="email">
          <button type="submit">SUSCRIBIRSE</button>
        </p>
      </form>
    </div>
    <div class="home__footer__container-iconos">
      <ul>
        <li class="home__footer-iconos"><a target="_blank" href="https://www.instagram.com/"><i
              class="fa-brands fa-instagram"></i></a></li>
        <li class="home__footer-iconos"><a target="_blank" href="https://www.facebook.com/"><i
              class="fa-brands fa-facebook"></i></a></li>
        <li class="home__footer-iconos"><a target="_blank" href="https://www.twitter.com/"></a><i
            class="fa-brands fa-twitter"></i></i></a></li>
        <li class="home__footer-iconos"><a target="_blank" href="https://www.tiktok.com/"><i
              class="fa-brands fa-tiktok"></i></a></li>
      </ul>
    </div>
    <div class="home__footer-derechos">© 2021 AmapolaBags.com.ar | Todos los derechos revervados</div>
  </footer>
</body>

</html>