/* MAIN LOGIN*/

.body__main__login {
    font-family: var(--font);
}

.body__main__login__section1__article1 h3 {
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 25px 10px;
    font-family: var(--fontTitulos);
}

.body__main__login__section1__article1 p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: bold;
}

.body__main__login__section1__article2__form {
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 15px;
}

.body__main__login__section1__article2__form label {
    display: inline-block;
    padding: 20px 0px 10px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);

}

.body__main__login__section1__article2__form input {
    color: rgba(0, 0, 0, 0.6);
    height: 35px;
    outline: none;
    width: 100%;
    margin-top: 2px;
}

.body__main__login__section1__article2__form a {
    display: flex;
    justify-content: center;
    margin: 10px 0px 25px;
    text-decoration: none;
    color: black;
    font-size: 13.5px;
    text-transform: none;
    font-weight: bold;
}

.body__main__login__section1__article2__form--button {
    padding: 0;
    height: 55px;
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    margin-bottom: 30px;
    font-weight: bold;
   
}
.body__main__login__section1__article2__form--button:hover{
    color: var(--colorRosa);
}

.body__main__login__section1__article2__form--button:disabled {
 background-color: rgb(87, 86, 86);
 cursor: not-allowed;
}
.body__main__login__section1__article2__form--button:disabled {
 background-color: rgb(87, 86, 86);
 cursor: not-allowed;
}

.body__main__login__section1__article2__div {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    justify-content: space-between;
}

.body__main__login__section1__article2__div a {
    box-sizing: border-box;
    color: black;
    background-color: var(--colorRosa);
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding: 13px 0px;
    width: 48%;
    height: 50px;
    margin-bottom: 15px;
}



.body__main__login__section1__article2__checkbox {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin: 0px 15px 25px;
}

.body__main__login__section1__article2__checkbox input {
    display: inline-block;
    height: 11px;
    width: 11px;
}

.body__main__login__section2 {
    margin: 0px 15px;
    
}

.body__main__login__section2--divlinea{
    border-top: solid px rgba(0, 0, 0, 0.2);
}

.body__main__login__section2__article1 h3 {
    box-sizing: border-box;
    font-family: var(--fontTitulos);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 20px 0px 30px;
}

.body__main__login__section2__article1 p {
    display: none;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.body__main__login__section2__article2 {
    display: flex;
    flex-wrap: wrap;

}

.body__main__login__section2__article2__div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    width: 50%;
    height: 140px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 10px;

}

.body__main__login__section2__article2__div i {
    font-size: 35px;
    text-align: center;
}

.body__main__login__section2__article2__div p {
    font-size: 11px;
    text-align: center;
    font-weight: bold;
}

.body__main__login__section2__div {
    background-color: var(--colorNegro);
    height: 55px;
    box-sizing: border-box;
    text-align: center;
    padding: 12px;
    margin-bottom: 40px;
}

.body__main__login__section2__div a {
    font-size: 20px;
    text-decoration: none;
    color: var(--colorBlanco);
    text-transform: uppercase;
    font-weight: bold;
}
.body__main__login__section2__div a:hover{
    color: var(--colorRosa);
}

/* TABLET*/

@media (min-width: 768px) {

    .body__main__login__section2--divlinea {
        display: none;
        
    }

    .body__main__login {
        display: flex;
        flex-wrap: wrap;
    }

    .body__main__login__section1 {
        box-sizing: border-box;
        width: 50%;
    }

    .body__main__login__section2 {
        width: 46%;
    }

    .body__main__login__section2__article1 p {
        display: block;
    }

    .body__main__login__section2__article2 {
        display:flex;
    }

    .body__main__login__section2__article2__div {
        width: 33.3%;
    }
}

/* Desktop*/

@media (min-width: 1024px) {
    .body__main__login__section1 {
        box-sizing: border-box;
        width: 45%;
        margin: 0px auto;
    }

    .body__main__login__section2 {
        box-sizing: border-box;
        width: 45%;
    }
}