.profile__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 650px;
    margin: 10px;
    /*     border: 2px solid rgb(6, 233, 55); */
}

.profile__img {
    display: flex;
}

.profile__img img {
    border-radius: 20%;
}

.profile__dates {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid red; */
}

.profile__dates p {
    display: flex;
    font-family: var(--font);
    text-transform: capitalize;
    color: var(--colorNegro);
    /*  border: 2px solid rgb(0, 217, 255); */
}

.profile__dates div {
    display: flex;
    width: 100%;
    justify-content: center;
    /* border: 2px solid rgb(195, 0, 255); */
}

.profile__dates div p {
    text-transform: uppercase;
    justify-content: center;
}

#profile__dates-email {
    text-transform: none;
}

.profile__editar-perfil {
    display: flex;
    padding: 1%;
    width: 35%;
    justify-content: center;
    color: var(--colorBlanco);
    text-transform: uppercase;
    background-color: black;
    /*  border: 2px solid red; */
}

.profile__editar-perfil:hover {
    color: var(--colorRosa);
}

@media (min-width: 764px) {

    .profile__container {
        margin: 30px;
        /*     border: 2px solid rgb(6, 233, 55); */
    }

    .profile__dates {
        justify-content: flex-start;
    }

    .profile__dates div {
        width: 48%;
        justify-content: end;
        margin: 0px 5% 0 0%;
        text-align: end;
        /* border: 2px solid rgb(195, 0, 255); */
    }

    .profile__editar-perfil {
        width: 30%;
    }
}

@media (min-width : 1024px) {
    .profile__editar-perfil {
        width: 20%;
    }
}