<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head") %>

  <body class="home__body">

    <%- include("./partials/header") %>

      <main class="home__main">
        <section class="home__main__section-banner">
          <div id="home-banner">
            <img src="/img/Desktop - Home (1).png">
          </div>
          <div class="home__main__section-banner-mobile">
            <img src="/img/banner-mobile.jpg">
            <button class="home__main__section-banner-botonNew">
              NEW COLECTION
            </button>
            <button class="home__main__section-banner-botonShop">
              SHOP NOW
            </button>
          </div>
        </section>
        <section class="home__main__container-section-carrusel">
          <div class="home__main__section-carrusel-mobile">
            <div class="home__main__section-carrusel-mobile-foto">
              <img src="/img/cartera-mobile.jpg">
              <div class="descripcion-producto">
                <p>LUME</p>
                <p>$23.900</p>
                <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
              </div>
            </div>
            <div class="home__main__section-carrusel-mobile-foto">
              <img src="/img/rino-mobile.jpg">
              <div class="descripcion-producto">
                <p>CAFA</p>
                <p>$23.500</p>
                <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
              </div>
            </div>
          </div>
          <div class="home__main__section-carrusel-desktop">
            <div class="home__main__section-carrusel-desktop-foto">
              <img src="/img/mochila-molly.webp">
              <div class="descripcion-producto">
                <p>LUME</p>
                <p>$23.900</p>
                <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
              </div>
            </div>
            <div class="home__main__section-carrusel-desktop-foto">
              <img src="/img/cartera-martina.jpg">
              <div class="descripcion-producto">
                <p>CAFA</p>
                <p>$23.500</p>
                <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
              </div>
            </div>
            <div class="home__main__section-carrusel-desktop-foto">
              <img src="/img/cartera-lima.webp">
              <div class="descripcion-producto">
                <p>CAM</p>
                <p>$23.000</p>
                <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
              </div>
            </div>
          </div>
          </div>
        </section>
        <section class="home__main__section-community">
          <div class="home__main__section-community-mobile">
            <div class="home__main__section-community-title">
              <a href="#sdadsd">
                <p><i class="fa-solid fa-hashtag"></i>MyAmapola<i class="fa-solid fa-heart"></i></p>
                <p>comunnity</p>
              </a>
            </div>
          </div>
          <div class="home__main__section-community-desktop">
            <div class="home__main__section-community-title">
              <a href="#sdadsd">
                <p><i class="fa-solid fa-hashtag"></i>MyAmapola<i class="fa-solid fa-heart"></i></p>
                <p>comunnity</p>
              </a>
            </div>
            <div class="home__main__section-community-desktop-info">
              <p>Compartí tu Amapola favorita con el hastag <b>#MyAmapola</b> y arrobanos <b>@myamapolabags</b> para ser
                seleccionadx y aparecer en nuestro website y redes sociales!</p>
              <p class="community-subrayadoo">I want to be part!</p>
            </div>
          </div>

        </section>
        <section class="home__main__section-fotos">
          <div class="home__main__section-fotos-titulo-book">
            <a>@amapolabags</a>
            <div>
              <p>Share yours!</p>
              <a>#MyAmapola</a>
            </div>
          </div>
          <div class="home__main__section-fotos-book">
            <div class="home__main__section-fotos-book-1">
              <img src="/img/1-foto-book.jpg">
              <img src="/img/2-foto-book.jpg">
              <img src="/img/3-foto-book.jpg">
            </div>
            <div class="home__main__section-fotos-book-2">
              <img src="/img/4-foto-book.jpg">
              <img src="/img/5-foto-book.jpg">
              <img src="/img/6-foto-book.jpg">
            </div>
          </div>
        </section>
        <section class="home__main__section-texto">
          <p>Compartí tu Amapola favorita con el hastag <b>#MyAmapola</b> y arrobanos <b>@amapolabags</b> para ser
            seleccionadx y aparecer
            en nuestro website y redes sociales!</p>
          <p class="community-subrayadoo"> I want to be part!</p>
        </section>
      </main>
      <%- include("./partials/footer") %>
  </body>

</html>

<!-- PARA LOS DESTACADOS AGREGAMOS UNA COLUMNA A LA TABLA DE PRODUCTOS CON UN BOOLEANO Y DESPUES A LOS PRODUCTOS LE PONEMOS UN CHECKBOX Y SI LO SELECCIONAMOS QUEDA COMO PRODUCTO SELECCIONADO -->