<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head") %>

  <body class="home__body">

    <%- include("./partials/header") %>

      <main class="home__main">
        <section class="home__main__section-banner">
          <!-- banner desktop -->
          <div id="home-banner">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/img/sliderNavidad.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/sliderNavidad3.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/Desktop - Home (1).png" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- <img src="/img/Desktop - Home (1).png"> -->
          </div>
          <!-- fin banner desktop -->
          <div class="home__main__section-banner-mobile">
            <!-- banner mobile -->
            <img src="/img/bannerMobile2.jpg">

            <!-- fin banner mobile -->
            <p class="home__main__section-banner-botonNew">
              NEW COLECTION
            </p>
            <a href="/products/productGeneral" class="home__main__section-banner-botonShop">
              SHOP NOW
            </a>
          </div>
        </section>
        <section class="home__main__container-section-carrusel">
          <div class="home__main__section-carrusel-mobile">
            <div class="home__main__section-carrusel-mobile-foto">
              <img src="/img/cartera-mobile.jpg">
              <div class="descripcion-producto">
                <p>LUME</p>
                <p>$23.900</p>
                <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
              </div>
            </div>
            <div class="home__main__section-carrusel-mobile-foto">
              <img src="/img/rino-mobile.jpg">
              <div class="descripcion-producto">
                <p>CAFA</p>
                <p>$23.500</p>
                <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
              </div>
            </div>
          </div>
          <div class="home__main__section-carrusel-desktop">
            <div class="home__main__section-carrusel-desktop-foto">
              <img src="/img/mochila-molly.webp">
              <div class="descripcion-producto">
                <p>LUME</p>
                <p>$23.900</p>
                <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
              </div>
            </div>
            <div class="home__main__section-carrusel-desktop-foto">
              <img src="/img/cartera-martina.jpg">
              <div class="descripcion-producto">
                <p>CAFA</p>
                <p>$23.500</p>
                <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
              </div>
            </div>
            <div class="home__main__section-carrusel-desktop-foto">
              <img src="/img/cartera-lima.webp">
              <div class="descripcion-producto">
                <p>CAM</p>
                <p>$23.000</p>
                <button class="boton-favorito"><i class="fa-regular fa-heart"></i></button>
              </div>
            </div>
          </div>
          </div>
        </section>
        <section class="home__main__section-community">
          <div class="home__main__section-community-mobile">
            <div class="home__main__section-community-title">
              <a href="#sdadsd">
                <p><i class="fa-solid fa-hashtag"></i>MyAmapola<i class="fa-solid fa-heart"></i></p>
                <p>comunnity</p>
              </a>
            </div>
          </div>
          <div class="home__main__section-community-desktop">
            <div class="home__main__section-community-title">
              <a href="#sdadsd">
                <p><i class="fa-solid fa-hashtag"></i>MyAmapola<i class="fa-solid fa-heart"></i></p>
                <p>comunnity</p>
              </a>
            </div>
            <div class="home__main__section-community-desktop-info">
              <p>Compartí tu Amapola favorita con el hastag <b>#MyAmapola</b> y arrobanos <b>@myamapolabags</b> para ser
                seleccionadx y aparecer en nuestro website y redes sociales!</p>
              <p class="community-subrayadoo">I want to be part!</p>
            </div>
          </div>

        </section>
        <section class="home__main__section-fotos">
          <div class="home__main__section-fotos-titulo-book">
            <a>@amapolabags</a>
            <div>
              <p>Share yours!</p>
              <a>#MyAmapola</a>
            </div>
          </div>
          <div class="home__main__section-fotos-book">
            <div class="home__main__section-fotos-book-1">
              <img src="/img/1-foto-book.jpg">
              <img src="/img/2-foto-book.jpg">
              <img src="/img/3-foto-book.jpg">
            </div>
            <div class="home__main__section-fotos-book-2">
              <img src="/img/4-foto-book.jpg">
              <img src="/img/5-foto-book.jpg">
              <img src="/img/6-foto-book.jpg">
            </div>
          </div>
        </section>
        <section class="home__main__section-texto">
          <p>Compartí tu Amapola favorita con el hastag <b>#MyAmapola</b> y arrobanos <b>@amapolabags</b> para ser
            seleccionadx y aparecer
            en nuestro website y redes sociales!</p>
          <p class="community-subrayadoo"> I want to be part!</p>
        </section>
      </main>
      <%- include("./partials/footer") %>
        <%- include('partials/scripts') %>
  </body>

</html>