<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head") %>

<body class="body__home">
    <!-- INICIO DE NAV -->

    <%- include("./partials/header") %>

    <!-- FIN DE NAV  -->
    <!-- INICIO DE MAIN CARRITO  -->
  <main class="main__carrito">
   
  </main>
    <!-- FIN DE MAIN CARRITO -->
    <!-- INICIO DE FOOTER -->

    <%- include("./partials/footer") %> 
    <%- include('partials/scripts') %> 

    <!-- FIN DE FOOTER -->
</body>

</html>