<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head", {title : "Sobre Nosotros" }) %>

  <body class="home__body">

    <%- include("./partials/header") %>

      <main class="location__main">
        <h1>sobre nosotros</h1>
        <section class="location__section-info">
          <div id="location-intro">
            <p>
              Somos un grupo de compañeros de la Fundación Formar realizando el curso de Programación Web Full Stack de
              Digital House; en
              este proyecto hicimos un E-commerce con las herramientas aprendidas. El diseño de nuestra web fue
              inspirado en los siguientes sitios:
            </p>
          </div>
          <div id="location-inspiraciones">
            <a rel="stylesheet" href="https://www.xlshop.com.ar/cartera-alma-bandolera-chica-xt2wdc04c0125/p"
              target="_blank">Xl
              Shop</a>
            <a rel="stylesheet" href="https://shop.lasoreiro.com/productos-en-carteras-78" target="_blank">Las
              Oreiro</a>
            <a rel="stylesheet"
              href="https://www.prune.com.ar/?gclid=CjwKCAjw14uVBhBEEiwAaufYx18H0i4sgkeX7J4lJkJZAwFs3EHkCIg6vZ6cis5h7P-tkPWYkEzTQxoC_UIQAvD_BwE"
              target="_blank">Prune</a>
            <a rel="stylesheet" href="https://jackiesmith.com.ar/" target="_blank">Jackie Smith</a>
          </div>
          <div>
            <strong>Integrantes:</strong>
            <ul id="location-integrantes">
              <li>Romanos,Caleb. Localidad: San Miguel. Edad: 34 años.</li>
              <li>Gimenez, Melina. Localidad: San Miguel. Edad: 22 años.</li>
              <li>Reyna,Luisina. Localidad: Villa la Angostura. Edad: 24 años.</li>
              <li>Arévalos,Facundo. Localidad: Lanús. Edad: 18 años.</li>
            </ul>
          </div>


        </section>
        <section class="location__section-mapa">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13144.745440386723!2d-58.4436675!3d-34.5488366!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfb39818e7624ac76!2sDigital%20House!5e0!3m2!1ses!2sar!4v1671134918434!5m2!1ses!2sar"
            width="700" height="500" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
      </main>

      <%- include("./partials/footer") %>
  </body>

</html>