<footer class="home__footer__container">
  <div class="home__footer-heart"><i class="fa-regular fa-heart"></i></div>
  <div class="home__footer-newsletter">
    <form action="" method="get">
      <p>
        <label for="email">SUSCRIBITE A NUESTRO NEWSLETTER</label>
        <input type="email" placeholder="ESCRIBE TU MAIL AQUÍ" name="email">
        <button type="submit">SUSCRIBIRSE</button>
      </p>
    </form>
  </div>
  <div class="home__footer__container-iconos">
    <ul>
      <li class="home__footer-iconos"><a target="_blank" href="https://www.instagram.com/"><i
            class="fa-brands fa-instagram"></i></a></li>
      <li class="home__footer-iconos"><a target="_blank" href="https://www.facebook.com/"><i
            class="fa-brands fa-facebook"></i></a></li>
      <li class="home__footer-iconos"><a target="_blank" href="https://www.twitter.com/"><i
            class="fa-brands fa-twitter"></i></a>
      <li class="home__footer-iconos"><a target="_blank" href="https://www.tiktok.com/"><i
            class="fa-brands fa-tiktok"></i></a></li>
    </ul>
  </div>
  <div class="home__footer-derechos">© 2021 AmapolaBags.com.ar | Todos los derechos revervados</div>
</footer>

<script src="/javascripts/glider.min.js"></script>