<header>
  <nav class="home__nav__container">
    <div class="home__nav__container-marquee">
      <marquee>ENVIOS GRATIS A TODO EL PAIS | 12 CUOTAS SIN INTERÉS</marquee>
    </div>
    <div class="home__nav__containter-iconos">
      <ul class="home__nav-iconos">
        <li id="burger-menu"><button><i class="fa-solid fa-bars"></i></button></li>
        <li id="title">
          <h1><a href="/">amapola bags</a</h1>
        </li>
        <li id="location"><a><i class="fa-solid fa-location-dot"></i></a></li>
        <li id="search"><a href="#" class="link-search"><i class="fa-solid fa-magnifying-glass"></i></a></li>
        <% if (locals.userLogin) { %>
          <li id="user"><a href="/users/profile"><i class="fa-regular fa-user"></i></a></li>
          <li id="user"><a href="/users/logout"><i class="fa"></i>salir</a></li>
          <% }else{ %>
            <li id="user"><a href="/users/login"><i class="fa-regular fa-user"></i></a></li>
            <% } %>
              <li id="heart"><a href=""><i class="fa-regular fa-heart"></i></a></li>
              <li id="bag"><a href="/products/productCart"><i class="fa-solid fa-bag-shopping"></i></a></li>
      </ul>
    </div>
    <div class="home__nav__container-menu-buscador">
      <ul>
        <li class="home__nav__menu-buscador-opciones"><a href="/">home</a></li>
        <li class="home__nav__menu-buscador-opciones"><a href="/products/productGeneral">productos</a></li>
        <li class="home__nav__menu-buscador-opciones"><a href="/products/productPurse">carteras</a></li>
        <li class="home__nav__menu-buscador-opciones"><a href="/products/productFannyPack">riñoneras</a></li>
        <li class="home__nav__menu-buscador-opciones"><a href="/products/productBackpack">mochilas</a></li>
        <% if (locals.userLogin && userLogin.rol===1 ) { %>
          <li class="home__nav__menu-buscador-opciones"><a href="/products/productAdd">Nuevo</a></li>
          <% } %>
            <!-- <li class="home__nav__menu-buscador-buscador">
              <label><i class="fa-solid fa-magnifying-glass"></i></label>
              <input type="search" placeholder="¿Que estás buscando?">
            </li> -->
      </ul>
      <form class="home__nav__menu-buscador-buscador" action="/products/initSearch" method="GET" class="search-form"
        id="search-form">
        <!-- /products/initSearch?keywords=cartera -->
        <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
        <input type="text" name="keywords" placeholder="Buscar productos" class="search-form_input">
      </form>
    </div>
  </nav>
</header>